.block.track
    .right
        a.play(data-track_id=track.id): i.icon-play
        a(href=track.permalink_url, target="_blank"): i.icon-cloud
    a(href="/users/#{ track.user.id }")= track.user.username
    img.avatar(src=track.artwork_url)
    .details
        h1.title= track.title
    .clear
.tabbed
    .tabs.two
        a.tab(href="/tracks/#{ track.id }/comments"): span Comments
        a.tab(href="/tracks/#{ track.id }/favoriters"): span Favoriters
    .tab-content


